.landing {
  margin: 0;
  background-image: url(../images/bg-picture.jpg);
  background-size: cover;
  height: 500px;
  /* height: 100vh; */
  /* vh is there so the size of the app is the same than the window/body size */
}
